<div class="container">
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to fa_icon("trash 2x"), [comment.actionitem, comment], method: :delete, style: 'color:#ff4800;', data: { confirm: 'Are you sure?' } %>
</p>
</div>